<a href="https://colab.research.google.com/github/Claudia-github1/curso_python2/blob/main/Sesion3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## TUPLA

In [5]:
Estudiantetupla='Karolayne Pacherres',23,'True'
Estudiantetupla

('Karolayne Pacherres', 23, 'True')

In [6]:
Estudiantetupla[0]

'Karolayne Pacherres'

In [8]:
Estudiantetupla[0] = 'CLAU'

TypeError: ignored

## LISTA

In [20]:
Estudiante=['Manuel Ponte',23,'M']
Estudiante

['Manuel Ponte', 23, 'M']

In [30]:
if Estudiante[2] == 'M':
   Estudiante[2] = 'MASULINO'
   print('2')
   
Estudiante

['Manuel Ponte', 23, 'MASCULINO']

## DICCIONARIO

In [37]:
# creando diccionarios:
EstudianteDict={'Nombres':"Manuel Ponte",
               'edad':23,
               'femenino':False,
                'distrito': 'villa Maria'
                }
#en los diccionarios se deben indicar los nombres de los atributos
# seeing it:
print(EstudianteDict['distrito'])

villa Maria

DATA FRAMES

In [41]:
import pandas as pd

#que es un dataframe,  es un tabla 

#estamos creando listas 
nombres=["Manuel", "Karen", "Karolayne", "Omar"]
edad=[23,29,23,26]
pais=["Ecuador", "Perú", "Brasil", "Argentina"]
educacion=["Bach", "Lic", "Bach", "PhD"]


print(nombres[3])

Omar

In [42]:
# las llevamos a diccionario:
data={'nombres':nombres, 'edad':edad, 'pais':pais, 'educacion':educacion}
print(data)

{'nombres': ['Manuel', 'Karen', 'Karolayne', 'Omar'], 'edad': [23, 29, 23, 26], 'pais': ['Ecuador', 'Perú', 'Brasil', 'Argentina'], 'educacion': ['Bach', 'Lic', 'Bach', 'PhD']}

In [44]:
estudiantes=pd.DataFrame(data)
# check it:
print(estudiantes)

     nombres  edad       pais educacion
0     Manuel    23    Ecuador      Bach
1      Karen    29       Perú       Lic
2  Karolayne    23     Brasil      Bach
3       Omar    26  Argentina       PhD

#Sentencia de control

In [46]:
x=10
y=0

if x==4:
   y=5
else:
   y=2

print(y)

2

In [48]:
x=6
y=0

if x==4:
   y=1
elif x==5:
   y=2
elif x==6:
   y=3
else:
   y=4

print(y)

3

In [51]:
x = 4
xy = 1
if x == 4 and xy == 1:
   y =1
elif x==5:
   y=2
else:
   y=3

print(y)

1

In [ ]:
x = 4
xy = 1
if x == 4 and xy == 1:
   y =1
elif x==5:
   y=2
else:
   y=3

print(y)

In [52]:
for x in range(1,3):
  print(x)

1
2

In [54]:
0,1,2,3,4,5,6,7,8
for x in range(6):
  print(x)

0
1
2
3
4
5

In [62]:
0,1,2,3,4,5,6,7,8
for x in range(1,4): #rango es igual posiciones
  print(x)

1
2
3

In [60]:
lista = ["uno ", "dos " ,"tres "]
cadena = ""
for posicion in lista:
    print(posicion)
    cadena += posicion
    print(cadena)

cadena

uno
uno
dos
uno dos
tres
uno dos tres

'uno dos tres '

In [ ]:
lista = ["uno ", "dos " ,"tres "]
cadena = ""
for posicion in lista:
    print(posicion)
    cadena += posicion
    print(cadena)

cadena